@CHARSET "UTF-8";

main
{
    background-color: white;
}

main article
{
    border-top: 2px solid rgba(153,153,153,.15);
}
main section.intro
{
    background-color: white;
}
main h1
{
    color: #33a58c;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 25rem)
{
    main h1
    {
        font-size: 2rem;
    }
}

main ul
{
    list-style-type: none;
}
main section p
{
    /*text-indent: 2rem;*/
}

main h2
{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
}
@media (min-width: 914px)
{
    main h2
    {
        font-size: 2rem;
    }
}

section.content h2,
article h2,
article h2 a,
article h2 a:visited
{
    color: #ebaa10;
    color: #d27f3d;
}
article h2 a:hover
{
    text-decoration: underline;
}

/************************************************/
/*			 		Breadcrumbs 				*/
/************************************************/
main > nav.breadcrumbs
{
    background-color: #f2f2f2;
}
main > nav.breadcrumbs a,
main > nav.breadcrumbs span
{
    color: #666;
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}
main > nav.breadcrumbs a,
main > nav.breadcrumbs a:hover
{
    text-decoration: underline;
}
main > nav.breadcrumbs a:hover
{
    color: #33a58c;
}
/************************************************/
/*			 		    City 				    */
/************************************************/
section.city-cheapest
{
    border-bottom: 1px solid rgba(231,232,234,.25);
}
section.city-cheapest h2
{
    color: #33a58c;
}

section.city-cheapest > ul > li
{
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,.1);
}
section.city-cheapest h3
{
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
}
section.city-cheapest .tickets-list > li
{
    /*font-weight: 300;*/
}

section.city-cheapest .link-to-all a
{
    color: #ebaa10;
}
section.city-cheapest .link-to-all a:before
{
    color: #ebaa10;
    font-family: FontAwesome;
    content: "\f178";
    margin-right: .5rem;
    text-decoration: none;
}
section.city-cheapest .link-to-all a:hover
{
    color: #666;
    /*text-decoration: underline;*/
}

/************************************************/
/*			 		Posts 			        	*/
/************************************************/
section.posts a.more-link:hover
{
    text-decoration: underline;
}

/************************************************/
/*			    Popular destinations 			*/
/************************************************/
section.popular-destinations
{
    background-color: #f2f2f2;
}
section.popular-destinations h2
{
    color: #d27f3d;
}