@CHARSET "UTF-8";

h1, h2, h3, h4, h5 {
    margin: 1.5rem 0 .75rem 0;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

main
{
	position: relative;
	z-index: 1;
}

/************************************************/
/*			 		Recommendations				*/
/************************************************/
.recommendations
{
	padding-bottom: 2rem;
}

.recommendations h2
{
	padding: 1rem 0;
	margin: 0;
}

.recommendations .row
{
	display: -webkit-flex; /* Safari */
	display: flex; /* отображает контейнер как блочный элемент */
		
	-webkit-justify-content: center;
	justify-content: center;
	
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column nowrap; 
	flex-flow: column nowrap;
	
	padding: 0 2rem;
}

.recommendations .row > div
{
	-webkit-flex: auto; 
	-ms-flex: auto; 
	flex: auto;
}
.recommendations .flex-item
{
	width: 100%;
}

@media (min-width: 768px) 
{
	.recommendations .row
	{
		display: -webkit-flex; /* Safari */
		display: flex; /* отображает контейнер как блочный элемент */
			
		-webkit-justify-content: center;
		justify-content: center;
		
		-webkit-align-items: center;
		align-items: center;
		
		-webkit-flex-flow: row nowrap; 
		flex-flow: row nowrap;
	}
	
	.recommendations .row > div
	{
		-webkit-flex: auto; 
		-ms-flex: auto; 
		flex: 1 1 auto;
	}
}

.col-content
{
	margin: .625rem;
    padding: 1.25rem;	
}

.content-container {
    padding: 2.625rem;	
}

/************************************************/
/*			 		About 	 					*/
/************************************************/
.about-container {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.about-container p
{
	padding: 0.23rem 0;
}

/************************************************/
/*			 		Partners 	 				*/
/************************************************/
.partners
{
	padding: 0 1rem 1rem;
}
.partners h2 
{
    margin: 0;
	padding: 1rem 0;
}
.partners ul 
{
    padding: 0;
}
.partners li 
{
    display: inline-block;
	padding: 1rem;
}
.partners img 
{
	width: 125px;
}

/************************************************/
/*			 		Footer 	 					*/
/************************************************/
body > footer
{
    padding: 2rem;
}