@CHARSET "UTF-8";

h1, h2, h3, h4, h5 {
    margin: 1.5rem 0 .75rem 0;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

body > header
{
	width: 100%;
    position: relative;
}

body > header > section.top-bar
{
	position: relative;
}

body > header h1,
body > header h2
{
	margin: 0;
}

body > header h1,
body > header .logo
{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}
body > header .logo
{
	top: 33%;
}
body > header h1
{
	top: 66%;
}
body > header h2
{
	margin-bottom: 1rem;
	text-align: center;
	width: 100%;
	
	/* top: 73%; */
}

body > header .logo img
{
	width: 44%;
}

body > header .image
{
	position: relative;
}

body > header .image img 
{
    display: block;
    width: 100%;
}

@media (min-width: 1080px)
{
	body > header .logo
	{
		top: 8%;
	}
	body > header .logo img
	{
		width: 25%;
	}
	body > header h1
	{
		top: 27%;
	}
	body > header h2
	{
		top: 33%;
	}
}
@media (min-width: 1080px)
{
    .search-form
    {
        position: absolute !important;
        left: 10% !important;
        right: 10% !important;
        top: 37% !important;

        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

/************************************************/
/*			 		Recommendations				*/
/************************************************/
.recommendations
{
	padding-bottom: 2rem;
}

.recommendations h2
{
	padding: 1rem 0;
	margin: 0;
}

.recommendations .row
{
	display: -webkit-flex; /* Safari */
	display: flex; /* отображает контейнер как блочный элемент */
		
	-webkit-justify-content: center;
	justify-content: center;
	
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column nowrap; 
	flex-flow: column nowrap;
	
	padding: 0 2rem;
}

.recommendations .row > div
{
	-webkit-flex: auto; 
	-ms-flex: auto; 
	flex: auto;
}
.recommendations .flex-item
{
	width: 100%;
}

@media (min-width: 768px) 
{
	.recommendations .row
	{
		display: -webkit-flex; /* Safari */
		display: flex; /* отображает контейнер как блочный элемент */
			
		-webkit-justify-content: center;
		justify-content: center;
		
		-webkit-align-items: center;
		align-items: center;
		
		-webkit-flex-flow: row nowrap; 
		flex-flow: row nowrap;
	}
	
	.recommendations .row > div
	{
		-webkit-flex: auto; 
		-ms-flex: auto; 
		flex: 1 1 auto;
	}
}

.col-content
{
	margin: .625rem;
    padding: 1.25rem;	
}

.content-container {
    padding: 2.625rem;	
}

/************************************************/
/*			 		About 	 					*/
/************************************************/
.about-container {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.about-container p
{
	padding: 0.23rem 0;
}

/************************************************/
/*			 		Partners 	 				*/
/************************************************/
.partners
{
	padding: 0 1rem 1rem;
}
.partners h2 
{
    margin: 0;
	padding: 1rem 0;
}
.partners ul 
{
    padding: 0;
}
.partners li 
{
    display: inline-block;
	padding: 1rem;
}
.partners img 
{
	width: 125px;
}

/************************************************/
/*			 		Footer 	 					*/
/************************************************/
body > footer
{
    padding: 2rem;
}