@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&amp;subset=latin,cyrillic');

html
{
	font-size: 100%;
}
body
{
	background-color: #E6E6E3;
	
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	
	font-size: 1rem;
    line-height: 1.5;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 
{
	text-rendering: optimizeLegibility;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/************************************************/
/*			 		Recommendations				*/
/************************************************/
.recommendations
{
	background-color: white;
	border-color: rgb(102, 102, 102);
	/* border-radius: 4px; */
    box-shadow: 0 0 4px rgba(0,0,0,.1);
	box-sizing: border-box;
}

.recommendations h2
{
	color: #33a58c;
	
	font-size: 1.4em;
    font-weight: 300;
	line-height: 1.5;
	
	text-align: center;
}

.recommendations .col-content
{
	border-radius: 4px;
    border: 2px solid rgba(0,0,0,.1);
	
	color: #666;
	
	text-align: center;
}

.recommendations i:before {
    content: "\f063";
}
.recommendations i
{
    color: #58bd91;
}

@media (min-width: 768px)
{
	.recommendations h2 {
		font-size: 1.7em;
	}
	.recommendations i:before {
	    content: "\f061";
	}
}

/************************************************/
/*			 		About 	 					*/
/************************************************/
.about-container 
{
    background: #f5f5f5;
	
	color: #999;
	
	font-family: "playfairdisplay italic";
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.35;

	text-align: left;
}
.about-container i:before {
    content: "\f00c";
}
.about-container i {
	font-size: 1rem;
    color: #58bd91;
    margin-right: .625rem;
}

/************************************************/
/*			 		Partners 	 				*/
/************************************************/
.partners
{
	background-color: white;
}
.partners h2
{
	color: #ebaa10;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;	
}
.partners ul 
{
    list-style-type: none;
    text-align: center;
}

/************************************************/
/*			 		Footer 	 					*/
/************************************************/
body > footer
{
	background: #222;
    color: #999;
	text-align: center;
}
body > footer a:hover
{
    text-decoration: underline;
}