@CHARSET "UTF-8";

.search-form
{
    padding: 1.5rem .5rem;
    position: relative;
    z-index: 2;
}
@media (min-width: 26rem)
{
    .search-form
    {
        padding: 1rem;
    }
}
@media (min-width: 33rem)
{
    .search-form
    {
        padding: 1.5rem;
    }
}
@media (min-width: 1080px)
{
    .search-form
    {
        margin-bottom: 5rem;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1rem 2rem;
    }
}

/* tab links */

.twidget-tab-links 
{
	position: relative;
	z-index: 9;
}

.twidget-tab-links ul 
{
	text-align: center;
}

.twidget-tab-links ul li 
{
	box-sizing: content-box;
	display: inline-block;
	padding: .3rem .32rem;
	position: relative;
}

/* Icons */
.twidget-tab-links ul li a i
{
	margin-right: .5rem;
}
.twidget-tab-links a
{
	display: block;
	line-height: 2rem;
}

/* Tabs titles and icons */
@media (max-width: 907px)
{
    .search-form .twidget-tab-links li span
    {
        display: none;
    }
    .twidget-tab-links ul li a i
    {
		font-size: 1.37em;
        margin-right: 0;
        vertical-align: bottom;
    }
    .twidget-tab-links ul li.active
    {
        padding-top: 0;
    }
}

/* tab content */
.twidget-tab-content 
{
	padding-top: 1.5rem;
}

.twidget-tab-content input[type="text"] 
{
	height: 3rem;
	padding: 0 37px 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.twidget-tab-content .twidget-tab 
{
	display: none;
}

.twidget-tab-content .twidget-tab.active 
{
	display: block;
}

.twidget-form-list 
{
	/* Flexible */
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
	
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-moz-align-items: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.twidget-form-list > li 
{
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
	
	margin: .5rem;
	
	position: relative;
}

@media (min-width: 25rem)
{
    .twidget-form-list > li.twidget-origin,
    .twidget-form-list > li.twidget-destination
    {
        min-width: 23rem;
    }
}

.twidget-form-list > li.twidget-passengers,
.twidget-form-list li.twidget-hotel-guest
{
	min-width: 17rem;
}

.twidget-pseudo-input 
{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 77%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#twidget-tab1 .twidget-form-list .twidget-origin-iata, 
#twidget-tab1 .twidget-form-list .twidget-destination-iata
{
	position: absolute;
	bottom: 0;
	line-height: 3rem;
}
#twidget-tab1 .twidget-form-list .twidget-origin-iata
{
	right: 3rem;
}
#twidget-tab1 .twidget-form-list .twidget-destination-iata
{
	right: 1rem;
}

.twidget-form-list li.twidget-origin .fa-exchange
{
	position: absolute;
	bottom: 0;
	right: 1rem;
	
	line-height: 3;
}

.twidget-form-list li .twidget-input-box input 
{
	width: 100%;
}

.twidget-form-list li .twidget-input-box label, 
.twidget-passengers label,
.twidget-hotel-guest label 
{
	display: block;
	margin-bottom: .625rem;	
	position: relative;
}

.twidget-form-list li button 
{
	height: 3rem;
	text-align: center;
	width: 100%;
}

.twidget-form-list li.input-daterange 
{
	width: auto; /* Fix datepicker width: 100% */
	
	margin-top: 0;
	margin-bottom: 0;
	
	/* Flexible */
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
	
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.twidget-form-list li.input-daterange > div 
{
	margin: .5rem 0;
	
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;	
	
	min-width: 10rem;
}

.twidget-form-list li.input-daterange .twidget-input-box 
{
	position: relative;
}

.twidget-form-list li.input-daterange .twidget-input-box .twidget-icon-cal,
.twidget-form-list li.input-daterange .twidget-input-box .twidget-icon-delete,
.twidget-icon-hotel
{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 40px;
}

/*  Passengers and guests details */
.twidget-form-list li .twidget-passengers-detail,
.twidget-form-list li .twidget-guest-detail
{
	height: 3.15rem;
	padding: 1rem;
	position: relative;
}

.twidget-form-list li .twidget-passengers-detail:after,
.twidget-form-list li .twidget-guest-detail:after 
{
	width: 15px;
	height: 8px;
	top: 20px;
	right: 7px;
	position: absolute;
}

.twidget-form-list li .twidget-passengers-detail .twidget-pas-no,
.twidget-form-list li .twidget-passengers-detail .twidget-class
{
    display: inline-block;
}

/* hotel */

/* city hotel autofill */
.twidget-auto-fill-wrapper 
{
	position: absolute;
	z-index: 99;
	left: 0;
	width: 100%;
	overflow: hidden;
	max-height: 315px;
}

.twidget-auto-fill-wrapper ul li 
{
	height: 45px;
	padding: 4px 20px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.twidget-city-hotel .twidget-auto-fill-wrapper ul li 
{
	padding: 4px 26px;
}

.twidget-auto-fill-wrapper ul li>span.twidget-city-name 
{
	display: block;
	line-height: 37px;
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.twidget-auto-fill-wrapper ul li:before 
{
	position: absolute;
	top: 13px;
	left: 0;
	display: block;
	width: 26px;
	height: 20px;
}

.twidget-auto-fill-wrapper ul li>span.twidget-city-airport-name 
{
	position: absolute;
	margin-top: -16px;
	width: 70%;
	height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.twidget-auto-fill-wrapper ul li>span.twidget-num-hotel 
{
	position: absolute;
	top: 11px;
	right: 15px;
	line-height: 26px;
}

.twidget-auto-fill-wrapper[data-type="avia"] ul li>span.twidget-num-hotel
{
	top: 5px;
}

/* passenger selection */
#twidget-passenger-form,
#twidget-guest-form
{
    position: absolute;
    left: 0;
    padding-top: .5rem;
    z-index: 999;
}