@CHARSET "UTF-8";

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

/************************************************/
/*			 		Header 	 					*/
/************************************************/
header.site-header
{
	width: 100%;
}

header.site-header > section.top-bar
{
	position: relative;
	padding: 1rem 0;
}

header.site-header h1
{
	margin: 0;
}

header.site-header h1,
header.site-header .logo
{
	width: 100%;
	text-align: center;
	z-index: 2;
}

header.site-header .logo img
{
	width: 25%;
}

.bg-image
{
	position: absolute;
	top: 0;
}

.bg-image img
{
    display: block;
    width: 100%;
}

/************************************************/
/*			 		TPWL Widget					*/
/************************************************/
.TPWL-widget
{
	position: relative;
}

/************************************************/
/*			 		Footer 	 					*/
/************************************************/
footer
{
    padding: 2rem;
	position: relative;
}