main.route-page section.popular-destinations h2
{
    color: #33a58c;
}
section.special-offers h2,
section.hotels h2
{
    color: #d27f3d;
}

.route-content .sh-link a {
    color: #d27f3d;
    font-size: 1.63em;
    font-weight: 300;
}

.route-content .sh-link a:hover {
    text-decoration: underline;
}